akshare>=1.12.10
baostock>=0.7.5
beautifulsoup4>=4.12.0
configparser>=6.0.0
email-validator>=2.1.0
MetaTrader5>=5.0.45
numpy==1.26.4
pandas==2.2.2
pymysql>=1.1.0
pytdx>=1.72
pywencai>=0.3.7
requests>=2.31.0
schedule>=1.2.0
scipy>=1.12.0
setuptools>=69.0.0
smtplib3>=0.0.1
statsmodels>=0.14.1
